.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #959678 inset;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}