.App {
  height: auto;
  width: 100%;
  text-align: center;
  user-select: none;
  letter-spacing: 0.03em;
  font-weight: 600;
}

.main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.content{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: auto;
}

#imagecontent{
  justify-content: center;
  align-items: center;
}

#result{
  z-index: -2;
}

#linkform{
  background-color: white;
  z-index: 0;
}


.navigation{
  justify-content: center;
  height: 20vh;
  flex-flow: row;
  flex-wrap: wrap;
  z-index: 1;
  margin-bottom: 10px;
}
.navigation img{
  width: 50px;
  height: 50px;
}
.navElement{
  font-size: 30px;
  font-weight: 600;
    align-self: center;
  /* margin: 20px; */
  margin: 20px;
}


.form{
/* margin-right: 20px; */
width: auto;
height: 35px;
background-color: rgb(233, 233, 232);
border: 0;
padding: 5px;
}

button{
  border: 0px;
}



.in{
  justify-content: center;
  align-content: center;
}


@media only screen and (max-width: 600px) {
  .main {
    flex-flow: column;
  }
  .content{
    width: 100%;
    height: 40vh;
  }
}
